*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}


li {
  list-style: none;
}

a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: rgb(255, 253, 253) !important;
  font-size: small;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  background: #002856;
  
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: absolute;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #002856;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1000;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.ImagenLogo{
  width: 140px;
}

.nav__item {
    position: relative;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background:  #002856;
    display: none;
    padding: 0.5rem 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 100;
  }
  
  .submenu__item {
    padding: 0.5rem 1rem;
  }
  
  .submenu__link {
    text-decoration: none;
    color: #333;
    font-size:small;
  }
  
  .nav__item:hover .submenu {
    display: block;
  }
  .nav__item {
    border-top: 2px solid transparent !important; 
    padding-top: 20px;
    transition: color 0.3s ease, border-color 0.3s ease !important;
  }
  .nav__item:hover {
    border-top-color: #d63201 !important;
  }
  .nav__item:hover .nav__link {
    color: #d63201 !important; 
  }

